<div class=" auk-u-mb-2">
  <div class="vlc-input-field-block">
    {{#unless @hideLabel}}
      <WebComponents::VlFormLabel @value={{t 'status'}} />
    {{/unless}}
    {{#if @isLoading}}
      <div class="vl-u-text--muted">
        {{t "please-be-patient"}}
        <div class="vl-loader" role="alert" aria-busy="true"></div>
      </div>
    {{else}}
      <PowerSelect
        @options={{this.options}}
        @selected={{this.selectedFormalStatus}}
        @onchange={{@update}}
        as |option|>
        {{option.label}}
      </PowerSelect>
    {{/if}}
  </div>
</div>