{{!-- addon/components/rdfa-editor-wikipedia-slug-card.js --}}
{{!-- <div {{did-insert this.onRender}} {{will-destroy this.onWillDestroy}}>
    <div class="modal-dialog__content">
        <p class="u-spacer--tiny">
            Text expander hint
            <br>
            <strong>Do you want to insert "{{@info.text}}"?</strong>
        </p>
    </div>
    <div class="modal-dialog__footer">
        <WuButtonGroup>
            <WuButton @label="Yes" @size="small" @isNarrow={{true}} @commandLocation="below" @onClick={{this.insert}} />
            <span style="color: grey;">or press Tab key</span>
        </WuButtonGroup>
    </div>
</div> --}}