{{!-- template-lint-disable no-bare-strings --}}
<div class="page">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <header class="content-header content-header--small content-header--half-image u-spacer--large">
      <div class="content-header__wrapper">
        <picture class="content-header__bg"><img sizes="50vw" srcset="" alt="" title=""></picture>
        <div class="layout layout--wide">
          <div class="content-header__content">
            <div class="content-header__logo-wrapper"><a href="#" class="content-header__entity-logo content-header__entity-logo--lowercase"><span class="content-header__entity-logo__prefix">Kanselarij</span></a></div>
          </div>
        </div>
      </div>
    </header>
    <div class="vl-col--12-12">
      <div class="vl-grid vl-grid--align-center">
        <div class="vl-col--4-12 vl-col--5-12--m vl-col--8-12--s">
          <h2 class="h4 u-spacer">Kies een gebruiker om mee in te loggen.</h2>
          <input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" placeholder="Gebruikersnaam..." value={{role}} autofocus oninput={{perform updateSearch value='target.value'}}>
          {{#mock-login class="vl-col--12-12" as |login|}}
            {{#if queryStore.isRunning}}
              <div class="loader-wrapper">
                <div class="loader">
                  <span class="u-visually-hidden">Aan het laden</span>
                </div>
              </div>
            {{else}}
              {{#if login.errorMessage}}
                {{wu-alert title=login.errorMessage isWarning=true}}
              {{/if}}
              {{#login.each-account class="vl-col--12-12 vl-grid--align-space-between" accounts=model as |account|}}
                {{#wu-info-tile class="u-spacer--tiny vl-col--12-12" as |i|}}
                  {{#i.content}}
                    {{account.user.firstName}} {{account.user.lastName}}
                  {{/i.content}}
                {{/wu-info-tile}}
              {{/login.each-account}}
            {{/if}}
          {{/mock-login}}
        </div>
      </div>
    </div>
  </div>
</div>